#logo-top {
    height: 150px;
}
a:link {
    color:#FFFFFF;
  }
  body {
    background-color: #0A0A0A;
  }
  div {
    color:#FFFFFF;
  }
  body {
    color: white;
  }
  a.link {
    color:#FFFFFF;
  }